PORT=*****************************
DB_URL=*****************************
NODE_ENV=*****************************

JWT_ACCESS_SECRET=*****************************
JWT_ACCESS_EXPIRES=*****************************


JWT_REFRESH_SECRET=*****************************
JWT_REFRESH_EXPIRES=*****************************

BCRYPT_SALT_ROUND=*****************************

SUPER_ADMIN_EMAIL=*****************************
SUPER_ADMIN_PASSWORD=*****************************

GOOGLE_CLIENT_ID=*****************************
GOOGLE_CLIENT_SECRET=*****************************
GOOGLE_CALLBACK_URL=*****************************


EXPRESS_SESSION_SECRET=*****************************

FRONTEND_URL=*****************************

# sslCommerz
SSL_STORE_ID=**********************
SSL_STORE_PASS=**********************
SSL_PAYMENT_API=**********************
SSL_VALIDATION_API=**********************

# SSL Commerz BACKEND URLs
SSL_SUCCESS_BACKEND_URL=**********************
SSL_FAIL_BACKEND_URL=**********************
SSL_CANCEL_BACKEND_URL=**********************

# SSL Commerz FRONTEND URLs
SSL_SUCCESS_FRONTEND_URL=**********************
SSL_FAIL_FRONTEND_URL=**********************
SSL_CANCEL_FRONTEND_URL=**********************
